*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

:root{
    --color-white: #ffff;
    --color-orange: #e84d15;
    --color-black: #343a40;
}

a{
    color: var(--color-white);
    text-decoration: none;
    list-style-type: none;
}

.title1{
    text-align: center;
    margin: 40px;
    font-size: 30px;
    font-weight: 700;
}

.chunho{
    font-size: 12px;
}

.title2{
    text-align: center;
    font-size: 22px;
    /* padding: 20px; */
}

.timkiem{
    /* height: 300px; */
    margin: 50px 30px 0 0 ;
    margin-left: 70%;
    display: flex;
    margin-bottom: 80px;
}

.timkiem-input{
    height: 30px;
    width: 300px;
    padding: 3px;

}

.timkiem-icon{
    border: 1px solid black;
    color: var(--color-white);
    background-color: var(--color-black);
    /* border-left: none; */
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sanpham{
    margin: 0px 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.sanpham-chitiet{
    height: 400px;
    width: 320px;
    border: solid 1px white ;
    position: relative;
    box-shadow: 0 0 5px black;
}

.spct1{
    background-image: url(https://i.ibb.co/0B95Nfr/Screenshot-2023-04-12-203038.png);
}

.spct2{
    background-image: url(https://i.ibb.co/dcRYGC2/Screenshot-2023-04-16-203418.png);
}

.spct3{
    background-image: url(https://i.ibb.co/dBFMZSm/Screenshot-2023-04-16-204456.png);
}

.spct4{
    background-image: url(https://freetuts.net/upload/product_series/images/2019/12/06/378/tiki-app-1.png);
}

.spct5{
    background-image: url(https://9mobi.vn/cf/images/2015/05/nkk/cach-choi-candy-crush-saga-ket-noi-voi-tai-khoan-facebook-1.jpg);
}

.spct6{
    background-image: url(https://media-cdn-v2.laodong.vn/Storage/newsportal/2019/4/26/730139/A1.jpg);
}


.sanpham-khung{
    margin-left: 15px;
    margin-top: 15px;
    border: solid 2px white;
    height: 370px;
    width: 290px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sanpham-demo {
      position: absolute; 
      padding: 7px 30px;
      background-color: var(--color-orange);
      color: var(--color-white);
      font-weight: 500;
      margin-top: 100px;
}

.sanpham-demo a{
    color: var(--color-white);
}

.sanpham-demo a:hover{
    color: rgb(218, 212, 212);
    text-decoration: none;
}

.sanpham-ten{
    margin-top: 260px;

}

.sanpham-title {
    font-size: larger;
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
}
.sanpham-title a{
    color: var(--color-white);
}

.sanpham-title a:hover{
    color: rgb(218, 212, 212);
    text-decoration: none;
}

.sanpham-nenduoi{
    width: 320px;
    height: 148px;
    border-top: 1px solid rgb(0, 0, 0);
    position: absolute;
    margin-top: 250px;
    /* background-color: rgba(#00000000, #00000000, #00000000, 0.5); */
    background-color: #000000;
    opacity: 0.5;
}




/* Footer */
.cuoitrang{
    width: 100%;
    height: 120px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
}

.footer-rong{
    height: 40px;
}

.footer-kengang{
    width: 80%;
    border: 1px solid var(--color-white);
    margin: auto;
    
}
.footer-name{
    margin-top: 20px;
}