*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

:root{
    --color-white: #ffff;
    --color-orange: #e84d15;
    --color-black: #343a40;
}

.anh{
    margin-left: 15%;
    margin-right: 15%;
}

.anhbia{
    width: 100%;
    max-height: 380px;

}

.tung{
    display: flex;
}

.anhtoi{
    width: 18%;
    margin-top: -30px;
    margin-left: 30px;
    border-radius: 50%;
    padding: 4px;
    background-color: white;
}

.tung__name{
    margin-top: 40px;
    margin-left: 20px;
}

/* .gioithieu__list{
    margin-top: 20px;
    display: flex;
    list-style-type: none;
}

a{
    color: black;
    
}

li{
    font-size: large;
    font-weight: 500;
    margin-left: 30px;
}

a:hover{
    color: blue;
}

.gt__list-drd{
    position: relative;
}

.gt__list-drd::after{

} */

.cach{
    margin-left: 20PX;
}

.cach:hover{
    color: rgb(91, 91, 235);
}



/* PHAN THAN */

.than{
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: rgb(218, 215, 213);
    /* height: 700px; */
    width: 100%;
}

.than0{
    height: 20px;
}

.than1{
    /* height: 100vh; */
    padding: 20px;
    /* margin-bottom: 50px; */
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto+Slab:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(233, 86, 86);
}

.gioithieu__banbe{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 20px;
    background-color: #242628;
    width: 300px;
    height: 420px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    
}

.card__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card__img{
    width: 120px;
    height: 120px;
    border: solid 4px var(--primary-color);
    border-radius: 50%;
    margin: 25px auto;/* Để ảnh ra giữa theo chiều ngang */
    overflow: hidden; /*Để ảnh ăn theo viền*/
    transition: 0.5s;
    transition-delay: 0.2s;
}

.card__img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: none;
    margin: 0px auto;
}

.card h3{
    color: rgb(255, 255, 255);
    /* padding-top: -8px; */

}

.card p{
    color: var(--primary-color);
}

.social{
    display: flex;
    justify-content: space-evenly;
}

.social a{
    list-style-type: none;
    align-items: center;
    
}

.social a i{
    font-size: x-large;
    color: white;
    margin: 30px 8px;
}

.card a i:hover{
    color: var(--primary-color);
}

.social-button{
    margin: 10px 60px 20px ;
    padding: 10px 20px;
    color: white;
    background-color: transparent; /*Trùng với màu nềnnền */
    border: solid 1px var(--primary-color);
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

.card button:hover{
    background-color: var(--primary-color); 
}




/* Footer */
.cuoitrang{
    width: 100%;
    height: 120px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
}

.footer-rong{
    height: 40px;
}

.footer-kengang{
    width: 80%;
    border: 1px solid var(--color-white);
    margin: auto;
    
}
.footer-name{
    margin-top: 20px;
}