*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

:root{
    --color-white: #ffff;
    --color-orange: #e84d15;
    --color-black: #343a40;
}

a{
    color: var(--color-white);
    text-decoration: none;
    list-style-type: none;
}

.title1{
    text-align: center;
    margin: 40px;
    font-size: 30px;
    font-weight: 700;
}

.chunho{
    font-size: 12px;
}

.title2{
    text-align: center;
    font-size: 22px;
    /* padding: 20px; */
}


.sp-anh{
    display: flex;
    justify-content: space-around;
    margin: 30px 80px;
}
.sp-anh img{
    height: 370px;
    width: 300px;
    border: 1px solid #bdbdbd;
}

.sp-hotro{
    padding-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.sp-hotro p{
    margin-bottom: -10px;
    margin-right: 20px;
}

.sp-hotro i{
    margin-left: 10px;
    /* padding-top: -10px; */
}

.fa-laptop{
    margin-top: -13px ;
}


.sptt-sp{
    display: flex;
    justify-content: space-around;
    margin: 0px 80px;
    margin-bottom: 80px;
}

.sptt-sp1{
    max-width: 260px;
}

.sptt-sp1 img{
    height: 300px;
    width: 260px;
    border: 1px solid #bdbdbd;
}

.sptt-sp1-ten a{
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
}

.sptt-sp1-ten a p{
    margin: 10px 20px;
}



/* Footer */
.cuoitrang{
    width: 100%;
    height: 120px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
}

.footer-rong{
    height: 40px;
}

.footer-kengang{
    width: 80%;
    border: 1px solid var(--color-white);
    margin: auto;
    
}
.footer-name{
    margin-top: 20px;
}